<div class="card  mt-3 ml-3 mb-3 mr-0 border-primary">
    <div class="card-header text-light h6 bg-primary">{{salaInput.snome}}</div>
    <div class="card-body text-dark">
        <div class="mb-2 p-1">
            <strong>Qtd. Lugares: </strong> {{salaInput?.nqtdLugares}} <br>

        </div>
        <div class="p-1">
            <strong>Andar: </strong> {{salaInput?.sandar}} <br>

        </div>
    </div>
    <button class="btn btn-dark m-2" [routerLink]="['/home/horario-sala', salaInput.nidSala]">Agendar</button>
</div>