<!-- Modal -->
<div class="modal fade" id="modalReserva" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Reservar sala</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="formReserva" (submit)="reservar()">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="DdataHoraIni" class="small h5">Data/Hora inicial:</label>
                                <input type="datetime-local" class="form-control" id="" aria-describedby="emailHelp"
                                    #inputDtaIni formControlName="DdataHoraIni" placeholder="E-mail">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="DdataHoraFim" class="small">Data/Hora final:</label>
                                <input type="datetime-local" class="form-control" id="DdataHoraFim"
                                    aria-describedby="emailHelp" #inputDtaFim formControlName="DdataHoraFim"
                                    placeholder="E-mail">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="inputSala" class="small">Sala:</label>
                                <input type="text" class="form-control" id="inputSala" aria-describedby="emailHelp"
                                    formControlName="NidSala" #inputSala>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="inputTitulo" class="small">Título da reserva:</label>
                                <textarea type="email" class="form-control" id="inputTitulo" maxlength="50"
                                    aria-describedby="emailHelp" formControlName="Stitulo"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="inputEmail" class="small">Descrição:</label>
                                <textarea type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" maxlength="300"
                                    formControlName="Sdescricao"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary" [disabled]="formReserva.invalid">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>