<div class="row p-0 m-0">
    <div class="col-12 mt-3">
        <h2>Horários - {{sala?.snome}}</h2>
        <hr>
    </div>
</div>
<div class="row p-0 m-0">
    <div class="col-12 d-flex justify-content-between">
        <div>
            <button class="btn btn-primary btn-sm"></button> - <span>Livre</span><br>
            <button class="btn btn-danger btn-sm"></button> - <span class="mt-2 d-inline-block">Ocupada</span>
        </div>
        <div class="">
            <label for="inputData" class="font-weight-bold">Data: </label>
            <input type="date" class="form-control" id="inputData" (change)="buscaHorariosByIdDate($event.target.value)">
        </div>
    </div>
    <div class="col-12">
        <hr>
    </div>
</div>
<div class="row p-0 m-0">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3" *ngFor="let reserva of reservas">
        <div class="card mb-3 mr-0" [ngClass]="{'border-primary': reserva.nidReserva == 0,
                                                'border-danger': reserva.nidReserva > 0}">

            <div class="card-header text-light" [ngClass]="{'bg-primary': reserva.nidReserva == 0, 
                                                            'bg-danger': reserva.nidReserva > 0}">

                <div class="row d-flex align-items-center justify-content-between">
                    <div class="small col-12">
                        <span *ngIf="reserva?.nidReserva == 0">
                            <strong>Titulo:</strong> Livre <br>
                            <strong>Horário:</strong> {{reserva?.ddataHoraIni | date:'hh:mm'}} até
                            {{reserva?.ddataHoraFim | date:'shortTime'}}
                        </span>
                        <span *ngIf="reserva?.nidReserva > 0">
                            <strong>Titulo:</strong> {{reserva?.stitulo}} <br>
                            <strong>Horário:</strong> {{reserva?.ddataHoraIni | date:'hh:mm'}} até
                            {{reserva?.ddataHoraFim | date:'shortTime'}}
                        </span>
                    </div>
                    <div class="col-12 mt-2">
                        <button *ngIf="reserva.nidReserva == 0" class="btn btn-dark btn-sm" data-toggle="modal"
                            data-target="#modalReserva" (click)="chamarModalReserva(reserva)">Reservar</button>
                        <button *ngIf="reserva.nidReserva > 0" class="btn btn-dark btn-sm" data-toggle=".modal-sm"
                            data-toggle="modal" data-target="#modalDetalhesReserva"
                            (click)="chamarModalReserva(reserva)">Detalhes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-cadastro-reserva [reserva]="reservaClicado"></app-cadastro-reserva>
<app-detalhes-reserva [reservaInput]="reservaClicado"></app-detalhes-reserva>